@model IEnumerable<FormClick.Models.Response>

<div class="row">
    @foreach (var response in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@response.Template.Title</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Descripción:</strong> @response.Template.Description
                    </p>
                    <p class="card-text">
                        <strong>Creado el:</strong> @response.Template.CreatedAt.ToString("dd/MM/yyyy")
                    </p>
                    <p class="card-text">Score: @response.Score</p>
                    <a href="http://localhost:5180/api/Template/AnswerTemplate/@response.TemplateId" class="btn btn-primary">Ver Respuesta</a>
                </div>
            </div>
        </div>
    }
</div>
